caption{
	font-style: italic;
}
table{
	border: 3px solid red;
	background-color: yellow;
	border-left: none;
}
th, td{
	border: 1px solid orangered;
}
.table1{
	font-weight: bold;
}
.table2{
	text-align: center;
}
.table3{
	text-align: right;
}
.table4{
	text-align: left;
}